footer li {
    display: inline-block;
    margin-right: 25px;
    text-align: center;
  }

body {
    background-color: #d3d3d3;
}

#right{
    float: right;
}

#profile
{
    border-radius: 50%;
}

button {
    border-radius: 15%;
    background-color: thistle;
    box-shadow: 2px 1px;
    font-family: "Lato";
}